.content {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    line-height: 200%;
}

.green {
    color: #6ca965;
}
  
.yellow {
    color: #c8b653;
}
  
.gray {
    color: #787c7f;
}